@import url("all-tasks.css");
@import url("home.css");


html, body{
  overflow: hidden;
  height: 100%;
  background-color: #EDEDED;
  border:0;
  margin:0;
  padding:0;
}

*, h1, h2, h3, h4, h5, h6, p, span, div{
  font-family: 'Roboto';
  box-sizing: border-box;
